* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 25px 25px;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    display: flex;
    flex-wrap: wrap;
    top: 0;
    float: center;
    color: white;
    text-align: center;
    justify-content: center;
}

.search-city {
    justify-content: left;
    padding: 5px;
}

.block {
    display: block;
    width: 50%;
    border: none;
    background-color: #2a2a72;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #009ffd;
    color: whitesmoke;
}

.block2 {
    display: block;
    width: 50%;
    border: none;
    background-color: silver;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}

.block2:hover {
    background-color: #009ffd;
    color: whitesmoke;
}

.austin {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.chicago {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.orlando {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.seattle {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.denver {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.atlanta {
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

#maincontent {
    display: flex;

}

#searchsection {
    width: 30%;
}

#weatherforecast {
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 60%;
    text-align: center;
}

#fiveday {
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: auto;
    background-color: #2a2a72;
    color: whitesmoke;
    text-align: center;
}

#day1 {
    border-style: dotted;
    border-color: black;
}

#day2 {
    border-style: dotted;
    border-color: black;
}

#day3 {
    border-style: dotted;
    border-color: black;
}

#day4 {
    border-style: dotted;
    border-color: black;
}

#day5 {
    border-style: dotted;
    border-color: black;
}

footer {
    background-color: #2a2a72;
    color: whitesmoke;
}